body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    color: #333;
    background-color: #f7f7f7;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    margin: 0;
    font-size: 2em;
}

h2 {
    color: #007bff;
    margin-top: 30px;
}

ul {
    list-style-type: square;
}
a {
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}